.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    /* background-color: yellow; */
    /* overflow for no scroll bar */
}


#main-header { 
    background-color: green;
    color: black;
    /* text-decoration: dotted; */
    /* font-size: 60px; */
}

#navbar {
    background-color: grey;
    color: blue;
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: azure;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15 px;
}

#imagestyle {
    background-image: url();
    background-position: center right;
    min-height: 300px;
    /* min height for responsive */
    margin-bottom: 30px;
    text-align: center;
}

#main {
    float: left;
    width: 70%;
    padding: 0 30px;

    box-sizing: border-box;
}

#sidebar {
    float: right;
    width: 30%;
    background: #333;
    color: white;
    padding: 10%;
    box-sizing: border-box;
}

#main-footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width:600px){
    #main {
        width: 100%;
        float: none;
    }

    h1 {
        color: red;
    }

    #sidebar {
        width: 100%;
        float: none;
    }
}